<body>
    Messages
    <table>
        {{#each Message}}
        <tr>
            <td>Sending User:</td>
            <td>{{sendingUserId}}</td>
        </tr>
        <tr>
            <td>Receiving User:</td>
            <td>{{receivingUserId}}</td>
        </tr>
        <tr>
            <td>Subject:</td>
            <td>{{subject}}</td>
        </tr>
        <tr>
            <td>Body:</td>
            <td>{{body}}</td>
        </tr>
        {{/each}}
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

</html>